.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dashboard h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.dashboard button {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
}